/* Overall padding for all content except navigation */
.contentArea {
  padding: 1em;
}

/* Style the login screen content */
.loginContent {
  width: 50%;
}

@media only screen and (max-width: 320px) {
  .loginContent {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .loginContent {
    width: 75%;
  }
}


/* Styling the text */

h1 {
  font-family: sans-serif;
  font-size: 1.5em;
}

p {
  font-family: sans-serif;
  font-size: 1em;
}

/* Styling message list */

ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
  font-family: sans-serif;
}


/*.latest-btn {*/
/*  margin-top: 1em;*/
/*  margin-bottom: 1em;*/
/*  border: 2px solid black;*/
/*  border-radius: 4px;*/
/*  background-color: white;*/
/*  color: black;*/
/*  padding: 0.25em 1em;*/
/*  font-size: 1em;*/
/*  font-family: sans-serif;*/
/*  cursor: auto;*/
/*}*/

/* Green */
/*.btn-green {*/
/*  border-color: #4CAF50;*/
/*  color: green;*/
/*}*/

/*.btn-green:hover {*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*}*/

/* Blue */
/*.latest-btn-blue {*/
/*  border-color: #2b8fd2;*/
/*  color: dodgerblue*/
/*}*/
/**/
/*.latest-btn-blue:hover {*/
/*  background: #2b8fd2;*/
/*  color: white;*/
/*}*/

/* Orange */
/*.btn-orange {*/
/*  border-color: #ff9800;*/
/*  color: orange;*/
/*}*/

/*.btn-orange:hover {*/
/*  background: #ff9800;*/
/*  color: white;*/
/*}*/

/* Red */
/*.btn-red {*/
/*  border-color: #f44336;*/
/*  color: red*/
/*}*/

/*.btn-red:hover {*/
/*  background: #f44336;*/
/*  color: white;*/
/*}*/

/* Gray */
/*.btn-gray {*/
/*  border-color: #a7a7a7;*/
/*  color: black;*/
/*}*/

/*.btn-gray:hover {*/
/*  background: #a7a7a7;*/
/*}*/



